/* Custom colors*/
.light-txt{
	color: rgb(49, 52, 56);
}
.light-bg{
	background-color: rgb(234, 234, 234);
}
.dark-bg {
  background-color: rgb(49, 52, 56);
}

.dark-txt {
  color: rgb(234, 234, 234);
}

.accent-1 {
  background-color: rgb(43, 248, 193);
}

.accent-2 {
  background-color: rgb(253, 189, 41);
}

.accent-3 {
  background-color: rgb(248, 37, 37);
}
