---
import Layout from "../layouts/BaseLayout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main>
    <h1 class="text-center text-3xl font-semibold">Welcome to The Blog</h1>
    <h2 class="text-center text-xl">Thanks for stopping by</h2>
    <p class="mb-40 mt-10 text-xl">
      Expect to see useful javascript and web development tips and how-to's
      here. I work mostly within the <span class="font-semibold">React</span> ecosystem
      but work heavily with
      <span class="font-semibold">Astro</span> and consider myself pretty well versed.
      So if you wind up here it's probably because of a google search on those topics.
      I'll also come here to share some thoughts on things im interested in from
      time to time outside of web development. We aren't just hands on a keyboard
      you know?
    </p>
  </main>
</Layout>
